.layout-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  width: 260px;
  height: 100%;
  background-color: var(--sidebar-background);
  color: var(--sidebar-foreground);
  border-right: 1px solid #ddd;
  flex-shrink: 0;
  padding: 2rem 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main-content {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  padding: 2rem;
  background-color: var(--background);
  color: var(--foreground);
}