.nav-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  margin-bottom: 5px;
  border-radius: 4px;
}

.nav-item.active {
  background-color: rgb(from var(--primary) calc(r * 1.2) calc(g * 1.25) calc(b * 1.25) / 0.8);
  color: var(--primary-foreground);
}

.nav-item:hover {
  background-color: var(--primary);
}

.logo-container {
  display: flex;
  width: 100%;
  justify-items: start;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-weight: bolder;
}

.logo-navitem {
  display: flex;
  border: 0.1rem solid var(--muted);
  border-radius: 20%;
  align-items: center;
}

.logo {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 2rem;
  height: 2rem;
}
